@font-face {
  font-family: "GothamPro";
  src: url("./fonts/GothamPro.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "GothamPro";
  src: url("./fonts/GothamPro-Bold.ttf");
  font-style: normal;
  font-weight: 600;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 14px;
  font-family: "GothamPro";
  font-weight: 400;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
  color: #272727;
  font-weight: 600;
  letter-spacing: 2px;
}

h3 {
  font-size: 1.25rem;
}

label {
  text-transform: uppercase;
  font-size: 0.8rem;
}

label.required::after {
  content: " *";
  color: #f00;
}

.alert {
  padding: 0.75rem 1rem;
}

.bg-light {
  background-color: #ececec !important;
}

.invalid-feedback {
  font-size: 0.75rem;
}

.form-control {
  border-radius: 0;
}

.btn {
  text-transform: uppercase;
  border-radius: 0;
  letter-spacing: 0;
  font-size: 0.8rem;
  padding-top: 12px;
  padding-bottom: 12px;
}

.title {
  font-size: 1.75rem;
  font-weight: 600;
  color: #ae9a64;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.border {
  border: 1px solid #ebebeb;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar {
  margin-bottom: 2rem;
}

.navbar-nav {
  flex-grow: inherit;
}

.Banner {
  height: 500px;
  position: relative;
}

.Banner p {
  position: absolute;
  left: 50px;
  bottom: 0px;
  font-size: 30px;
  color: #ae9a64;
  font-weight: 600;
  background: #fff;
  padding: 0 15px;
  text-transform: capitalize;
}

.bg-image {
  background: url(./images/banner.jpg);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Product {
  list-style: none;
}

.Product a {
  line-height: 1.5;
  font-size: 16px;
  color: #272727;
  font-weight: 600;
  border-bottom: 1px solid #eaeaea;
  letter-spacing: 2px;
  padding: 10px 0;
  margin-bottom: 10px;
  display: block;
}

.no-image {
  background-color: #eaeaea;
}

.Product a:hover {
  text-decoration: none;
  color: #ae9a64;
}

.Product .outer-image {
  height: 225px;
}

.Product span {
  color: #ae9a64;
  font-weight: 600;
  display: block;
}

/** Product Detail Page**/

.product-model {
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.product-producer {
  color: #ae9a64;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.product-id,
.product-engine {
  font-size: 11px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #343434;
  line-height: 25px;
}

.product-description {
  border-top: 1px solid #eaeaea;
}

.table td {
  border: 1px solid #eaeaea;
}

.table .label {
  text-transform: uppercase;
  padding-left: 15px;
  padding-right: 15px;
}

.table .data {
  color: #999;
  padding-left: 15px;
  padding-right: 15px;
}

.product-img .no-image {
  margin: 0 20px;
}
